@charset "UTF-8";

body {
	background-image: url(../images/testbg.png);
}

div.test {
	background-image: url(../../assets/images/testbg.png);
}

div.test2 {
	background-image: url(/assets/images/testbg.png);
}
